body {
  margin: 0px;
  overflow: hidden;
}

.App {
  text-align: center;
}

body {
  cursor: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.howl-button {
  width: 6.125%;
  height: 12.3%;
  border: 1px solid pink;
}
.howl-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.background-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.p5circle {
}

.p5canvas {
  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
}