body {
  margin: 0px;
  overflow: hidden;
  background-color: black;
}

header {
  margin: 2%;
  margin-left: 4%;
  margin-right: 4%;
  position: absolute;
  z-index: 2;
}

h1 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}
h3 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}

.App {
  text-align: center;
}

body {
  cursor: crosshair;
}


.howl-button {
  width: 6.125%;
  height: 12.3%;
}
.howl-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.background-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.p5canvas {
  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
}