*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0px;
  overflow: hidden;
  background-color: black;
}

header {
  margin: auto;
  width: 100vw;
  margin-left: 4%;
  margin-right: 4%;
  position: absolute;
  margin-top:2%;
  z-index: 2;
}

header img {
  position: absolute;
  margin:auto;
  margin-top: 85vh;
  max-width: 10vw;
  max-height: 10vh;
}

h1 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 100;
}
h3 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  font-size: medium;
}

.App {
  text-align: center;
}

body {
  cursor: crosshair;
}


.howl-button {
  width: 6.125%;
  height: 12.3%;
}
.howl-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.background-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.p5canvas {
  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
}